.navigation {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 5%;
  width: 100%;
  border-bottom: 1px solid black;
}

.navigation-button {
  padding: 10px 0;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-content: center;
  text-decoration: none;
  border-right: 1px solid black;
  color: black;
  transition: color 1000ms ease-in-out;
}

.navigation-button:focus {
  color: red;
}

.navigation-button:first-child {
  border-left: 1px solid black;
}

.app {
  margin: 30px 10%;
}

.article {
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  margin-top: 30px;
}

.article:not(:last-child) {
  margin-bottom: 30px;
}

.input {
  margin-left: 15px;
}
